In [1]:
import pandas as pd

In [2]:
hop_teaming = pd.read_csv('Hop_Teaming_Data/DocGraph_Hop_Teaming_2018.csv', 
                          nrows = 100)

In [3]:
hop_teaming.head(10)

,from_npi,to_npi,patient_count,transaction_count,average_day_wait,std_day_wait
0,1508062167,1730166109,350,370,53.922,72.612
1,1508065640,1730166109,25,25,49.800,55.006
2,1508052093,1730166109,16,16,109.500,70.593
3,1508172545,1730166109,14,14,103.357,75.483
4,1508285131,1730166109,20,21,89.952,89.880
5,1508252933,1730166109,16,16,78.750,103.169
6,1508076001,1730166109,46,48,72.625,83.263
7,1508085911,1730166125,58,67,23.925,43.923
8,1508093394,1730166125,15,15,37.400,79.602
9,1508132986,1730166125,11,11,97.364,62.152

In [4]:
#Create chunk
chunks = pd.read_csv('Hop_Teaming_Data/DocGraph_Hop_Teaming_2018.csv', chunksize=10000)

In [5]:
next(chunks)

,from_npi,to_npi,patient_count,transaction_count,average_day_wait,std_day_wait
0,1508062167,1730166109,350,370,53.922,72.612
1,1508065640,1730166109,25,25,49.800,55.006
2,1508052093,1730166109,16,16,109.500,70.593
3,1508172545,1730166109,14,14,103.357,75.483
4,1508285131,1730166109,20,21,89.952,89.880
...,...,...,...,...,...,...
9995,1508026980,1730477589,36,46,64.239,77.845
9996,1497997050,1730477589,38,43,40.395,60.289
9997,1497977268,1730477761,14,14,37.857,72.533
9998,1508024217,1730477811,12,12,59.000,46.043
9999,1508805722,1730477811,26,26,117.500,82.087

**We want to eliminate "accidental" referrals, so filter the hop teaming data so that the transaction_count is at least 50 and the average_day_wait is less than 50.**

In [6]:
chunks = pd.read_csv('Hop_Teaming_Data/DocGraph_Hop_Teaming_2018.csv', chunksize=10000)
accident_filtered = []
for chunk in chunks:
    chunk = chunk[(chunk["transaction_count"] >= 50) & (chunk["average_day_wait"] < 50)]
    accident_filtered.append(chunk)

In [7]:
len(accident_filtered)

21792

In [8]:
hop = pd.concat(accident_filtered, ignore_index = True)

In [9]:
hop.shape

(34176938, 6)

In [ ]:
#nppes data

In [17]:
npi_data = pd.read_csv('nppes_data/npidata_pfile_20050523-20230212.csv', nrows = 100)

In [48]:
npi_colnames = list(npi_data.columns)
#npi_colnames

In [41]:
hptc = [i for i in npi_colnames if i.startswith('Healthcare Provider Taxonomy Code_')]
hptc

['Healthcare Provider Taxonomy Code_1',
 'Healthcare Provider Taxonomy Code_2',
 'Healthcare Provider Taxonomy Code_3',
 'Healthcare Provider Taxonomy Code_4',
 'Healthcare Provider Taxonomy Code_5',
 'Healthcare Provider Taxonomy Code_6',
 'Healthcare Provider Taxonomy Code_7',
 'Healthcare Provider Taxonomy Code_8',
 'Healthcare Provider Taxonomy Code_9',
 'Healthcare Provider Taxonomy Code_10',
 'Healthcare Provider Taxonomy Code_11',
 'Healthcare Provider Taxonomy Code_12',
 'Healthcare Provider Taxonomy Code_13',
 'Healthcare Provider Taxonomy Code_14',
 'Healthcare Provider Taxonomy Code_15']

In [42]:
other_cols = ['NPI', 'Entity Type Code', 'Provider Organization Name (Legal Business Name)',
                                     'Provider Last Name (Legal Name)',
                                     'Provider First Name',
                                     'Provider Middle Name',
                                     'Provider Name Prefix Text',
                                     'Provider Name Suffix Text',
                                     'Provider Credential Text',
                                     'Provider First Line Business Practice Location Address',
                                     'Provider Second Line Business Practice Location Address',
                                     'Provider Business Practice Location Address City Name',
                                     'Provider Business Practice Location Address State Name',
                                     'Provider Business Practice Location Address Postal Code']

In [44]:
ls = hptc + other_cols
ls

In [46]:
npi_chunks = pd.read_csv('nppes_data/npidata_pfile_20050523-20230212.csv', 
                         chunksize = 10000, 
                         usecols = ls)

In [47]:
next(npi_chunks)

C:\Users\16156\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (71,75,79,83,87) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,NPI,Entity Type Code,Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Middle Name,Provider Name Prefix Text,Provider Name Suffix Text,Provider Credential Text,Provider First Line Business Practice Location Address,...,Healthcare Provider Taxonomy Code_6,Healthcare Provider Taxonomy Code_7,Healthcare Provider Taxonomy Code_8,Healthcare Provider Taxonomy Code_9,Healthcare Provider Taxonomy Code_10,Healthcare Provider Taxonomy Code_11,Healthcare Provider Taxonomy Code_12,Healthcare Provider Taxonomy Code_13,Healthcare Provider Taxonomy Code_14,Healthcare Provider Taxonomy Code_15
0,1740284231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1346245800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1487650776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1033113022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1043216138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1558360792,1.0,NaN,RODGERS,SUSAN,V,MRS.,NaN,CPHT,1919 S LOOP 256,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,1467451609,1.0,NaN,HILTON,BRET,D,NaN,NaN,PA,280 RIVER PARK DR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,1346249596,1.0,NaN,STANLEY,GARY,E,NaN,NaN,M.D.,920 OLIVER RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,1982603130,1.0,NaN,SLETTEN,CHRISTINA,A.,DR.,NaN,DDS,6685 DELMONICO DR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,1336148584,1.0,NaN,HANCOCK,WILLIAM,E,DR.,NaN,MD,10330 MERIDIAN AVE N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
npi_sample = pd.read_csv('nppes_data/npidata_pfile_20050523-20230212.csv', 
                         usecols = ls, nrows= 100)

In [ ]:
npi_sample[[]]

**First, build a profile of providers referring patients to the major hospitals in Nashville. Are certain specialties more likely to refer to a particular hospital over the others?**

SQLITE

In [10]:
import sqlite3
from tqdm.notebook import tqdm

In [ ]:
df = pd.read_csv('NPPES_Data_Dissemination_February_2023/npidata_pfile_20050523-20230212.csv', 
                          nrows = 100, usecols = ["NPI", "Employer Identification Number (EIN)"])
df