In [1]:
import pandas as pd
import sqlite3
from tqdm.notebook import tqdm
import numpy as np

In [ ]:
db name - hop_db
table names - hop / npidata / taxonomy/ zip_to_cbsa

In [2]:
# Create the hop_team SQLite database
db = sqlite3.connect('hop_db.sqlite')

In [ ]:
# Create the hop_team SQLite database
db = sqlite3.connect('hop_db.sqlite')

# create the referrals table and add it to the database
for chunk in tqdm(pd.read_csv('DocGraph_Hop_Teaming_2018.csv', chunksize = 10000)):
    # Do some preemptive filtering for likely "accidental" referrals
    chunk = chunk.loc[(chunk['transaction_count'] >= 25) & (chunk['std_day_wait'] < 90)]
    # append to referrals table
    chunk.to_sql('hop', db, if_exists = 'append', index = False)

In [10]:
taxonomy = pd.read_csv('nucc_taxonomy_230.csv', encoding = 'latin1')

In [11]:
taxonomy.to_sql('taxonomy', db, if_exists = 'append', index = False)

873

In [12]:
zip_cbsa = pd.read_excel('ZIP_CBSA_122021.xlsx')

In [14]:
zip_cbsa.to_sql('zip_to_cbsa', db, if_exists = 'append', index = False)

47484

In [ ]:
# Old code but may use later on

# Monica's magic loop!
def get_primary_taxonomy(row):
    for n in range(1, 16):
        if row['primary_taxonomy'] == '':
            x = str(n)
            if row[f'Healthcare Provider Primary Taxonomy Switch_{x}'] == 'Y':
                return row[f'Healthcare Provider Taxonomy Code_{x}']
    return row['primary_taxonomy']

# Define list of relevant columns
cols = ['NPI', 'Entity Type Code', 
        'Provider Organization Name (Legal Business Name)',
        'Provider Last Name (Legal Name)', 'Provider First Name', 
        'Provider Middle Name', 'Provider Name Prefix Text',
        'Provider Name Suffix Text', 'Provider Credential Text',
        'Provider First Line Business Practice Location Address',
        'Provider Second Line Business Practice Location Address',
        'Provider Business Practice Location Address City Name',
        'Provider Business Practice Location Address State Name',
        'Provider Business Practice Location Address Postal Code']

# Append taxonomy columns 1 to 15
for i in range(1, 16):
    cols.append(f'Healthcare Provider Primary Taxonomy Switch_{i}')
    cols.append(f'Healthcare Provider Taxonomy Code_{i}')

# Read in CSV and relevant columns in chunks
chunksize = 1000000
npi_chunks = pd.read_csv('npidata_pfile_20050523-20230212.csv', usecols = cols, low_memory = False, chunksize = chunksize)

# Define empty dataframe
npi_test = pd.DataFrame()

# Loop over the chunks and process the data
for chunk in npi_chunks:
    # Process data with apply function
    chunk['primary_taxonomy'] = ''
    chunk['primary_taxonomy'] = chunk.apply(get_primary_taxonomy, axis = 1)

    # Append processed data to the empty dataframe
    npi_test = pd.concat([npi_test, chunk])

# Read in other csv files with type cleaning    
nucc = pd.read_csv('nucc_taxonomy_230.csv', encoding = 'latin1')
zip = pd.read_csv('ZIP_CBSA_122021.csv', dtype = {'zip': str})
zip['cbsa'] = zip['cbsa'].astype(str)

# Merge and edit zip codes
merged_df = pd.merge(npi_test, nucc[['Code', 'Classification']], left_on = 'primary_taxonomy', right_on = 'Code', how = 'left')
merged_df['Provider Business Practice Location Address Postal Code'] = merged_df['Provider Business Practice Location Address Postal Code'].str[:5]
merged_df = pd.merge(merged_df, zip[['zip', 'cbsa']], left_on = 'Provider Business Practice Location Address Postal Code', right_on = 'zip', how = 'left')

merged_df.tail(25)

In [3]:
query = """
SELECT n.npi, n.organization_name
FROM npidata n
INNER JOIN taxonomy t 
ON n.taxonomy_code = t.Code
WHERE n.entity_type_code = 2
  AND n.practice_location_address_city_name = 'NASHVILLE'
  AND n.practice_location_address_state_name = 'TN'
  AND t.classification = 'General Acute Care Hospital'
"""

with sqlite3.connect('hop_db.sqlite') as db: 
    hospitals = pd.read_sql(query, db)
    
db.close()
hospitals

           npi                                  organization_name
0   1609056399                              VANDERBILT CHILDREN'S
1   1326224015                      VANDERBILT CHILDRENS HOSPITAL
2   1609970029            BUCKS COUNTY ONCOPLASTIC INSTITUTE, LLC
3   1164609319                          VANDERBILT MEDICAL CENTER
4   1992861314                                  SETON CORPORATION
5   1477709053               VANDERBILT UNIVERSITY MEDICAL CENTER
6   1255577466    MONROE CARELL JR VANDERBILT CHILDREN'S HOSPITAL
7   1396983680                                 ST. THOMAS NP, LLC
8   1366679276               VANDERBILT UNIVERSITY MEDICAL CENTER
9   1518112440                                NASHVILLE REHAB LLC
10  1528388196               VANDERBILT UNIVERSITY MEDICAL CENTER
11  1467764555                          VANDERBILT MEDICAL CENTER
12  1528371747                            MEHARRY MEDICAL COLLEGE
13  1619980117                       BAPTIST HOSPITAL SYSTEMS INC
14  1154693687                          VANDERBILT MEDICAL CENTER
15  1871859348                                 SAINT THOMAS HEART
16  1124065255             HCA HEALTH SERVICES OF TENNESSEE, INC.
17  1932146065             HCA HEALTH SERVICES OF TENNESSEE, INC.
18  1376580407             HCA HEALTH SERVICES OF TENNESSEE, INC.
19  1912944075             HCA HEALTH SERVICES OF TENNESSEE, INC.
20  1932146032             HCA HEALTH SERVICES OF TENNESSEE, INC.
21  1841237948             HCA HEALTH SERVICES OF TENNESSEE, INC.
22  1760437685                  HTI MEMORIAL HOSPITAL CORPORATION
23  1093769606                  HTI MEMORIAL HOSPITAL CORPORATION
24  1194074062                          VANDERBILT MEDICAL CENTER
25  1558618553                            MEHARRY MEDICAL COLLEGE
26  1710314554                                         CENTENNIAL
27  1336560598               VANDERBILT UNIVERSITY MEDICAL CENTER
28  1740609130                                   SELECT SPECIALTY
29  1265833487               VANDERBILT UNIVERSITY MEDICAL CENTER
30  1003211145  MONROE CARELL JR. CHILDREN'S HOSPITAL AT VANDE...
31  1427447697                     VANDERBILT UNIVERSITY HOSPITAL
32  1871977124                            MEHARRY MEDICAL COLLEGE
33  1881078962                              VANDERBILT UNIVERSITY
34  1902261860               VANDERBILT UNIVERSITY MEDICAL CENTER
35  1912443326               VANDERBILT UNIVERSITY MEDICAL CENTER
36  1063958270               VANDERBILT UNIVERSITY MEDICAL CENTER
37  1700835154                                     NASHVILLE VAMC
38  1538670179               VANDERBILT UNIVERSITY MEDICAL CENTER
39  1568551455                         NASHVILLE GENERAL HOSPITAL
40  1699312306                      BUNDLED PAYMENT SERVICES, LLC
41  1780778969                         SAINT THOMAS WEST HOSPITAL
42  1669469805                      EDGEFIELD REHABILITATION, LLC
43  1992770119                          VANDERBILT MEDICAL CENTER
44  1144260084                                  HCA-HEALTHONE LLC
45  1295776771                                  HCA-HEALTHONE LLC
46  1073608139                    VANDERBILT UNIV. MEDICAL CENTER
47  1700950284               VANDERBILT UNIVERSITY MEDICAL CENTER
48  1366571531              VA TENNESSEE VALLEY HEALTHCARE SYSTEM
49  1629025648                         SAINT THOMAS WEST HOSPITAL
50  1295780476                  HTI MEMORIAL HOSPITAL CORPORATION
51  1023055126             HCA HEALTH SERVICES OF TENNESSEE, INC.
52  1720032345             HCA HEALTH SERVICES OF TENNESSEE, INC.
53  1396882205               VANDERBILT UNIVERSITY MEDICAL CENTER
54  1558408633               VANDERBILT UNIVERSITY MEDICAL CENTER

In [ ]:
query = '''
SELECT *
FROM hop
INNER JOIN npidata n1
ON hop.from_npi = n1.npi
INNER JOIN npidata n2
ON hop.to_npi = n2.npi
WHERE n1.entity_type_code = 1
    AND n2.practice_location_address_city_name = 'NASHVILLE'
    AND n2.practice_location_address_state_name = 'TN'
    AND n2.entity_type_code = 2;
'''
with sqlite3.connect('hop_db.sqlite') as db: 
    total_nashville = pd.read_sql(query, db)
    
db.close()
total_nashville